<div class="container">
  <section class="section">
    <div class="columns is-mobile is-multiline">
      <div class="card">
        <div class="card-content">
          <div class="column is-12">
            <%= link_to t('add'), new_product_path, remote: true, class: 'button is-info', id: :form_button %>
          </div>
          <div class="column is-12">
            <%= t('products.title') %>
          </div>
          <%= render 'products_card' %>
        </div>
      </div>
    </div>
  </section>
</div>
